* {
    font-family: "Open Sans", sans-serif;
    color: #484747;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    
}
h3 {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 25px;
}
a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
p {
    font-size: 20px;
    letter-spacing: 2px;
}
h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}
select {
    appearance: none;
    width: 230px;
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
}
p a {
    box-shadow: 0px 0px 10px #999;
}
#logo, #logofooter {
    width: 30px;
    height: 30px;
    margin: 20px;
}
.navbar {
    height: 80px;
}
.right {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}
.left {
    float: left;
}
.nav li {
    display: inline-block;
    margin-left: 20px;
}
.nav li a {
    text-decoration: none;
}
.header {
    background-image: url(../images/airbnb/airbnb/header.jpg);
    width: 100%;
    height: 625px;
    background-size: cover;
}
.search {
    width: 950px;
    margin: auto;
    padding-top: 240px;
}
#claim {
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px #484747;
}
.searchbar {
    height: 75px;
    background-color: white;
    margin-top: 40px;
    box-shadow: 0px 0px 20px #484747;
}
#magnifier {
    width: 20px;
    margin: 27.5px;
    float: left;
}
#search input[type=text] {
    width: 750px;
    font-size: 20px;
    padding: 24.5px 0px;
    border: none;
    margin: 0px;
}
#search input[type=submit] {
    width: 90px;
    margin: 12.5px;
    height: 50px;
    background-color: #EC6663;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 5px;
    float: right;
}
.container {
    width: 1050px;
    margin: auto;
}
.discover {
    margin-top: 40px;
    height: 130px;
}
.col-quarter {
    width: 250px;
    margin-right: 12.5px;
    float: left;
    
}
.col-quarter-border {
    border: 1px solid #dfdddd;
}
.discoverprev {
    width: 95px;
    float: left;
}
h4.discovercat {
    font-weight: 600;
}
.banner {
    background-image: url(../images/airbnb/airbnbplus.jpg);
    background-position: center;
    width: 1100px;
    height: 300px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    margin: 20px 0;

}
.link-airbnbplus {
    height: 50px;
    font-size: 20px;
    background-color: white; 
}
#signing {
    float: left;
    font-size: 40px;
    font-family: fantasy;
}
.pluscontent img {
    height: 40px;
    float: left;
}
/* Accomodation */
.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 1300px;
}
.accommprev {
    width: 250px;
    border-radius: 5px;
}
.category, .city {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}
.desc {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 2px;
}
.price {
    font-size: 15px;
}
ul {
    _display: flex;
}
.rating ul li {
    float: left;
    font-size: 10px;
}
.count {
    font-size: 15px;
}
.tiles .col-quarter {
    border: none;
}
#allaccomms a {
    padding: 20px 0 20px 95px;
    font-size: 16px;
    color: #388188;
    box-shadow: none;
}
#settings {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.footer .col-quarter ul li a {
    color: grey;
}
.clearleft {
    clear: left;
}
.social {
    height: 15px;
}
#legalnav {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 15px;
}
.logoleft {
    display: flex;
    align-items: center;
}
#company {
    font-size: 15px;
}
.footer {
    margin: 20px 0px;
}